
<div class="container" id="sign-up-form">
  <div class="row">
      <h3>sign up</h3>
      <%= bootstrap_form_for(resource,
                            as: resource_name,
                            url: registration_path(resource_name)) do |f| %>

          <%= devise_error_messages! %>
          <%= f.text_field :name,
                           placeholder: 'name',
                           class: 'form-control' %>
          <%= f.text_field :email,
                            placeholder: 'email',
                            class: 'form-control' %>
          <%= f.password_field :password,
                                placeholder: 'password',
                                class: 'form-control' %>
          <%= f.password_field :password_confirmation,
                                placeholder: 'password_confirmation',
                                class: 'form-control' %>

          <%= f.submit "sign up", class: 'btn sign-up-button' %>
      <% end %>

  </div>
  <div>
    <p class="link-for-login"> If you already have an account click <%= link_to 'here', login_path %>.</a></p>
  </div>
</div>
