<%= form_for @recipe do |f| %>
  <%= render 'shared/errors', object: @recipe %>

     <div class="panel-body">

      <%= f.text_field :title, class: 'form-control recipe-form edit-form', placeholder: 'name of recipe' %></br>
      <%= f.text_field :description, class: 'form-control recipe-form edit-form', placeholder: 'description of your recipe' %></br>
      <%= f.file_field :image %>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h3>Ingredients</h3>
        <div id="ingredients">
          <%= f.fields_for :ingredients do |ingredient| %>
            <%= render 'ingredient_fields', f: ingredient %>
          <% end %>

          <div class="links">
            <%= link_to_add_association 'add ingredient', f, :ingredients %>
          </div>
        </div>
      </div>
    </div>

    <%= f.submit 'add recipe', class: 'btn' %>
  <% end %>
