
<h3><%= @recipe.title %></h3>
  <p class="text-center"><%= @recipe.description %></p>


  <p class="links-recipes text-center"><%= link_to 'dinner', recipes_path %> | <%= link_to 'edit', edit_recipe_path %> | <%= link_to 'delete', recipe_path, method: :delete, data: {confirm: "Are you sure?"} %> </p>
