<section class="main-container">
  <div id="recipe_top" class="row">
    <div class="col-md-4">
      <%= image_tag @recipe.image.url(:medium), class: 'recipe_image' %>
    </div>
        <div class="col-md-8" id="recipe_info" style="float:right;">
            <h1><%= @recipe.title %></h1></br>
            <p class="description"><%= @recipe.description %></p></br>
            <p class="description">Submitted by: <%= @recipe.user.first_name %></p>
        </div><!-- col-8 -->
    </div><!-- row -->

    <div class="row">
      <div class="col-md-6">
        <div id="ingredients">
          <h2>Ingredients</h2>
            <ul>
              <% @recipe.ingredients.each do |ingredient| %>
                <li><%= ingredient.name %></li>
              <% end %>
            </ul>
          </div>
        </div><!-- col -->

        <div class="col-md-6">
          <div id="directions">
            <h2>Directions</h2>
            <ul>
              <% @recipe.directions.each do |direction| %>
                <li><%= direction.step %></li>
              <% end %>
            </ul>
          </div><!-- directions -->
        </div><!-- col-->

    </div><!-- row-->

    <div class="row">
      <div class="col-md-12">
        <p class="links-recipes"><%= link_to 'back', recipes_path %> | <%= link_to 'edit', edit_recipe_path %> | <%= link_to 'delete', method: :destroy, data: {confirm: "Are you sure?"}%></p>
      </div>
    </div>
</section><!-- main-content -->
