<main class="container home">
  <h1 class="today-page text-center">
    <%= Date.today.to_s(:long) %>
  </h1>

  <div class="row">
    <%= render "feature_card", feature_link: appointments_path, title: "Today", img_src: "font-anchor", img_alt: "Anchor", description: "" %>
    <%= render "feature_card", feature_link: teams_path, title: "Teams", img_src: "font-coffee", img_alt: "Coffee", description: "" %>
    <%= render "feature_card", feature_link: lists_path, title: "Lists", img_src: "paper-feather", img_alt: "Pencil", description: "" %>
    <%= render "feature_card", feature_link: '', title: "Dinner", img_src: "fork", img_alt: "Dinner", description: "" %>
    <%= render "feature_card", feature_link: notes_path, title: "Notes", img_src: "feather-paper-clip", img_alt: "Notes", description: "" %>
    <%= render "feature_card", feature_link: appointments_path, title: "Appointment", img_src: "font-calendar", img_alt: "calendar", description: "" %>

  </div>
</main>
