<%= form_for @appointment do |f| %>
<% if @appointment.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(@appointment.errors.count, "error") %>
    prohibited this appointment from being saved:
  </h2>

  <ul>
  <% @appointment.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>
  <div class="form-group">
    <%= f.text_field :title, class: 'form-control', placeholder: 'title of appointment' %>
  </div>
  <div class="form-group">
    <%= f.text_area :description, class: 'form-control', placeholder: 'description of appointment' %>
  </div>
  <div class="form-group">
    <%= f.datetime_field :start_time, class: 'form-control', placeholder: 'Time appointment begins' %>
  </div>
  <div class="form-group">
    <%= f.datetime_field :end_time, class: 'form-control', placeholder: 'Time appointment ends' %>
  </div>
  <div class="check-box">
    <%= f.check_box :allDay %>
    <%= f.label :allDay, 'All Day' %>
  </div></br>
  <div class="check-box">
    <%= f.label :category %></br>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name, class: 'label-category' %>
  </div>
  

  <%= f.submit class: 'btn' %>
<% end %>
