<div class="single-post-card">
  <div class="card">
    <div class="card-block">
      <div class="appointment-content">
        <div class="appointment-by"></div>
          <h3><%= @category.name %></h3><br />
          <% @category.appointments.each do |appointment| %>
            <ul class="category-list">
              <li><strong><%= appointment.title %></strong></li>
              <li>Description: <%= appointment.description %></strong></li>
              <li>Starts: <%= appointment.start_time.to_formatted_s(:long) %></li>
              <li>Ends: <%= appointment.end_time.to_formatted_s(:long) %></li><br />
            </ul>
          <% end %>


        <p class="links"><%= link_to 'Edit', edit_appointment_path %> | <%= link_to 'Delete', (@appointment), method: :delete, data: {confirm: 'Are you sure?' } %></p>
      </div>
    </div>
  </div><!-- card -->
</div><!-- col-sm-3 -->
